
.app{
  min-height:100vh;
}

html, body, #root{
  background-color: black;
  /*Firefox Scrollbar*/
  scrollbar-color: #27332a #1a191f;
  scrollbar-width: thin;
  
}
.fill{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.flex{
  flex: 1 1
}
/* Scrollbar for Everything Else */
*::-webkit-scrollbar {
  width: 8px;
  height:8px;
}

*::-webkit-scrollbar-track {
  background: #1a191f;
}
*::-webkit-scrollbar-thumb {
  background-color: #27332a;
  border-radius: 20px;
  border: 3px double  rgba(66, 66, 66, .75);
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fill{
  width:100%;
  height:100%;
}

img{
  min-height: 0;
  min-width: 0;
  max-height: 100%;
  max-width: 100%;
}


.tagGroup{
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap:5px;
  padding:5px;
}

.tag{
  display:inline-block;
  text-align: center;
  box-sizing: border-box;
  text-size-adjust: 50%;
  background: linear-gradient(to bottom right, slateGray, #43464b);
  padding:5px;
  user-select: none;
  min-width: 4em;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: filter .5s;
  transition:border .25s;
}
.tag:hover{
  filter: brightness(80%);
  cursor: pointer;
  border: 2px solid #333;
}

.levelbar-outter{
  border-radius: 5px;
}
.levelbar-inner{
  border-radius: 5px;
  /* -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite; */
  animation: Animation 5s ease infinite;
  background: linear-gradient(60deg, rgb(7, 7, 134) 45%, #ff7e00);
  background-size: 200% 200%;
}

@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}


/*Source: https://stackoverflow.com/questions/6410730/css-endless-rotation-animation */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.profile-icon:hover{
  animation: rotating ease-in-out 2s alternate-reverse infinite;
}